<div class="container">
  <h2>新規登録</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-floating mb-3">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", id: "floatingInput", placeholder: "name@example.com" %>
      <%= f.label :email, for: "floatingInput" %>
    </div>

    <div class="form-floating mb-3">
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control", id: "floatingInput", placeholder: "password（6文字以上）" %>
      <%= f.label :password, for: "floatingInput" %>
    </div>

    <div class="form-floating mb-3">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", id: "floatingInput", placeholder: "パスワード（確認）" %>
      <%= f.label :password_confirmation, for: "floatingInput" %>
    </div>

    <div class="actions d-flex justify-content-center">
      <%= f.submit "新規登録", class: "btn btn-outline-success mb-3 w-50" %>
    </div>

  <% end %>

  <%= render "devise/shared/links" %>

</div>
